*{
    margin: 0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1200px;
    margin:0 auto;
}
/*Header*/
.container>img{
    display: none;
}
@media(max-width: 800px){
    /*Header*/
    .header__menu{
        display:none;
    }
    .container{
        padding-left: 30px; 
    }
}
.header__title{
    background-color: #117A25;
    color:white;
    padding: 50px 0 0 0;
}
.subtitulo{
    font-size: 32px;
    display: block;
    padding:11px 0 15px 0;
}
.header__menu{
    background-color:#00420C;
    padding:9px;
}
.menu > a{
    text-decoration: none;
    color: white;
    margin-right:22px;
    padding:9px !important;
}
.menu > a:hover{
    text-decoration: none;
    color: #117A25;
    background-color: #fff;
}
/*Main*/
.main{
    margin: 30px auto;
    display: flex;
}
    /*Left*/
.main div{
    max-width: 667px;
}
.main h1{
    margin: 20px 0px;
    color: #00420C;
}
@media(max-width:800px){
    .main{
        display: inline;
    }
    .espacamento{
        padding-left: 0 !important;
    }
    .container>img{
        display: inline;
    }
    .header> div{
        display: inline;
    }
}
    /*Right*/
.espacamento{
    padding: 65px 80px;  
}
.conceito{
    text-align: center;
    background-color: #117A25;
    width: 313px;
    padding: 50px 0;
    border-radius: 5px;
    color: white;
}
.conceito__nota{
    font-size: 35px;
}
.conceito>p{
    font-size: 20px;
}
.coordenador{
    display: flex;
    flex-direction: column;
}
.coordenador__img{
    border:2px solid #00420C;
    border-radius: 5px;
}
.coordenador span{
    padding: 10px;
    color: #117A25;
}
    /*Professor*/
.professor>section>div{
   padding: 20px; 
}
.professor>section>div>span{
    color: #00420C;
    display: block;
    padding-bottom: 20px;
}
.professor>section{
    display: flex;
    padding: 30px;
}
/*Contato*/
.contato section{
    color: #117A25;
    padding: 10px;
}
.botao{
    padding: 8px 15px;
    border:0 solid;
    background: #117A25;
    border-radius: 5px;
}
/*Footer*/
.footer{
    background-color: #00420C;
    margin:0 auto;
    padding: 30px;
}
.footer__geral{
    display:flex;
}
.footer__contato > span{
    color:white;
    display: block;
}
