*{
    margin: 0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1200px;
    margin:0 auto;
}
@media(max-widht: 900px){
    .teste{
        float: none;
    }
}
/*Header*/
.header__title{
    background-color: #117A25;
    color:white;
    padding: 50px 0 0 0;
}

.subtitulo{
    font-size: 32px;
    display: block;
    padding:11px 0 15px 0;
}
.header__menu{
    background-color:#00420C;
    padding:9px;
}
.menu > a{
    text-decoration: none;
    color: white;
    margin-right:22px;
    padding:9px !important;
}
.menu > a:hover{
    text-decoration: none;
    color: #117A25;
    background-color: #fff;
}
/*Main*/
.main{
    margin: o auto;
    padding: 50px 0 280px 0;
}
.teste>div>h1{
    color: #00420C;
    padding: 20px 0;
}
.div{
    display: flex;
    margin:0 auto;
    padding: 0 20px
}
.conceito{
    background-color: #117A25;
    padding:20px;
    margin: 5px 90px;
    border-radius: 5px;
}
.conceito>span{
    display: flex;
    justify-content: center;
    color: white;
    padding: 10px;
}
/*.teste{
    max-width: 600px;
    float: left;
}*/
.teste2>span{
    display: block;
    text-align: center;
}
.imagem{
    padding: 0 130px;
    text-align: center;
}
.teste4{
    font-size: 32px;
}
/*Footer*/
.footer{
    background-color: #00420C;
    margin:0 auto;
    padding: 30px;
}
.footer__geral{
    display:flex;
}
.footer__contato > span{
    color:white;
    display: block;
}
